/* main common */ 
.section-title {
    text-align: center;
    font-size: 2.2rem;
}

.section-subtitle {
    text-align: center;
    font-size: 1.8rem;
    color: red;
    font-family: 'Bigshot One', serif;
}

@media screen and (max-width: 1000px) {
    .section-title {
        text-align: center;
        font-size: 1.8rem;
    }
    
    .section-subtitle {
        font-size: 1.4rem;
        color: red;
    }
}

/* 영상배경 영역 */
.main-visual-section {
    position: relative;
    width: 100%;
}

.main-visual-section video {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 800px;
    height: 100vh;
    object-fit: cover;
}

.main-visual-section .texts {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    > h2 {
        font-size: 100px;
        color:white;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1;
        opacity: 0.8;
    }

    > h4 {
        font-size: 1.4rem;
        color: white;
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .main-visual-section video {
        min-height: 100vh;
        height: auto;
    }

    .main-visual-section .texts {
        > h2 {
            font-size: 60px;
        }

        > h4 {
            font-size: 1.2rem;
        } 
    }
}

/* 랜덤 단어 영역 */
.main-word-section {
    padding: 30px 0;
}

.main-word-section .title {
    text-align: center;
    font-size: 2rem;
}

.random-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.word-card {
    flex: 0 0 48%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.word-card h3 {
    font-size: 1.4rem;
    color: #333;
}

.word-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.word-container strong, .word-container span {
    font-size: 1.2rem;
}

.word-card button {
    font-size: 1.2rem;
    background-color: #F52997;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.word-card button:hover {
    background-color: #B0005C;
}

@media screen and (max-width: 700px) {
    .word-card {
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 1000px) {
    .main-word-section .title {
        text-align: center;
        font-size: 1.8rem;
    }

    .word-card h3 {
        font-size: 1.3rem;
    }

    .word-card button {
        font-size: 1.1rem;
    }

    .word-container strong, .word-container span {
        font-size: 1.1rem;
    }
}

/* 언어 배우기 */
.main-language-section {
    padding: 30px 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../img/flower_background.jpg');
    /* background-image: url('../img/flower_background.jpg'); */
    background-size: cover;
}

.hiragana_container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

table.inven {
    border: 1px solid black;
} 

table.inven caption {
    display: none;
}

table.inven tbody {
    border: 3px;
}

table.inven td, table.inven th {
    border: 1px solid black;
}

table.inven b, table.inven div {
    font-size: 1.4rem;
    font-weight: 600;
}

table.inven p {
    font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
    table.inven b, table.inven div {
        font-size: 1.2rem;
    }
    
    table.inven p {
        font-size: 1.0rem;
    }
}

/* 언어 번역 */
.main-translation-section {
    padding: 30px 0;
}

.translation-box {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.translation-card {
    background-color: #263343;
    border-radius: 30px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.translation-card h4 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.translation-card textarea {
    width: calc(100% - 20px);
    height: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

.translation-card button {
    width: calc(100% - 20px);
    background-color: #B0005C;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.translation-card button:hover {
    background-color: #F52997;
}

@media screen and (max-width: 1000px) {
    .translation-card h4 {
        font-size: 1.1rem;
    }

    .translation-card textarea {
        font-size: 1.0rem;
    }

    .translation-card button {
        font-size: 1.0rem;
    }
}

/* 메일 보내기 (피드백)*/
.main-feedback-section {
    padding: 30px 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../img/snowman.jpg');
    background-size: cover;
}

.mail-container {
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-box {
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mail-box .form-group {
    margin-bottom: 20px;
}

.mail-box h5 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #333;
}

.mail-box .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.mail-box textarea {
    resize: vertical;
    font-size: 1.1rem;
}

.mail-btn {
    width: 100%;
    background-color: #F52997;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.mail-btn:hover {
    background-color:#B0005C;
}

@media screen and (max-width: 1000px) {
    .mail-box h5 {
        font-size: 1.1rem;
    }

    .mail-box .form-control {
        font-size: 1.0rem;
    }
    
    .mail-box textarea {
        font-size: 1.0rem;
    }

    .mail-btn {
        font-size: 1.0rem;
    }
}