/* main common */ 
.section-title {
    text-align: center;
    font-size: 2.2rem;
}

.section-subtitle {
    text-align: center;
    font-size: 1.8rem;
    color: red;
    font-family: 'Bigshot One', serif;
}

@media screen and (max-width: 1000px) {
    .section-title {
        text-align: center;
        font-size: 1.8rem;
    }
    
    .section-subtitle {
        font-size: 1.4rem;
        color: red;
    }
}

/* 영상배경 영역 */
.main-visual-section {
    position: relative;
    width: 100%;
}

.main-visual-section video {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 800px;
    height: 100vh;
    object-fit: cover;
}

.main-visual-section .texts {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    > h2 {
        font-size: 100px;
        color:white;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1;
        opacity: 0.8;
    }

    > h4 {
        font-size: 1.4rem;
        color: white;
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .main-visual-section video {
        min-height: 100vh;
        height: auto;
    }

    .main-visual-section .texts {
        > h2 {
            font-size: 60px;
        }

        > h4 {
            font-size: 1.2rem;
        } 
    }
}

/* 랜덤 단어 영역 */
.main-word-section {
    padding: 30px 0;
}

.main-word-section .title {
    text-align: center;
    font-size: 2rem;
}

.main-word-section .random-container {
    display: flex;
}

@media screen and (max-width: 1000px) {
    .main-word-section .title {
        text-align: center;
        font-size: 1.8rem;
    }
}

/* 언어 배우기 */
.main-language-section {
    padding: 30px 0;
}

table.inven {
    border: 1px solid black;
} 

table.inven caption {
    display: none;
}

table.inven tbody {
    border: 3px;
}

table.inven td, table.inven th {
    border: 1px solid black;
}

table.inven b, table.inven div {
    font-size: 1.2rem;
    font-weight: 600;
}

table.inven p {
    font-size: 1.0rem;
}